<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Custom" publicKeyToken="dbb438eea69badfa" />
        <codeBase version="906.6.9.14692" href="file:///C:/Program%20Files/Common%20Files/s3pi/System.Custom.dll" />
        <bindingRedirect oldVersion="0.0.0.0 - 906.6.9.14692" newVersion="906.6.9.14692" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="s3pi.DemoPlugins" publicKeyToken="95792da617faeee1" />
        <codeBase version="906.6.11.18167" href="file:///C:/Program%20Files/Common%20Files/s3pi/s3pi.DemoPlugins.dll" />
        <bindingRedirect oldVersion="0.0.0.0 - 906.6.11.18167" newVersion="906.6.11.18167" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="s3pi.Extensions" publicKeyToken="80159b679e88de38" />
        <codeBase version="906.9.10.17675" href="file:///C:/Program%20Files/Common%20Files/s3pi/s3pi.Extensions.dll" />
        <bindingRedirect oldVersion="0.0.0.0 - 906.9.10.17675" newVersion="906.9.10.17675" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="s3pi.Interfaces" publicKeyToken="596917de85953130" />
        <codeBase version="906.6.9.14757" href="file:///C:/Program%20Files/Common%20Files/s3pi/s3pi.Interfaces.dll" />
        <bindingRedirect oldVersion="0.0.0.0 - 906.6.9.14757" newVersion="906.6.9.14757" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="s3pi.Package" publicKeyToken="b04bd8c032523d4e" />
        <codeBase version="906.6.9.14757" href="file:///C:/Program%20Files/Common%20Files/s3pi/s3pi.Package.dll" />
        <bindingRedirect oldVersion="0.0.0.0 - 906.6.9.14757" newVersion="906.6.9.14757" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="s3pi.Settings" publicKeyToken="b395e91fe381bfac" />
        <codeBase version="906.6.9.14756" href="file:///C:/Program%20Files/Common%20Files/s3pi/s3pi.Settings.dll" />
        <bindingRedirect oldVersion="0.0.0.0 - 906.6.9.14756" newVersion="906.6.9.14756" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="s3pi.WrapperDealer" publicKeyToken="27f8fcb7ad5fda58" />
        <codeBase version="906.6.9.14757" href="file:///C:/Program%20Files/Common%20Files/s3pi/s3pi.WrapperDealer.dll" />
        <bindingRedirect oldVersion="0.0.0.0 - 906.6.9.14757" newVersion="906.6.9.14757" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
